/challenges/.venv
/challenges/__pycache__

admin/.env
admin/admin_access.log
admin/error.log
admin/admin

api/.env
api/access.log
api/error.log

kubernetes/configuration/app-secrets.yml.local

levels/

ripper/.env

notes.txt
.DS_Store