---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: goapi-deployment
  labels:
    app: goapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: goapi
  template:
    metadata:
      name: goapi-deployment
      labels:
        app: goapi
    spec:
      containers:
        - name: goapi
          image: docker.io/thealpha16/isolet-goapi
          imagePullPolicy: Always
          resources:
            limits:
              memory: "128Mi"
              cpu: "300m"
            requests:
              memory: "32Mi"
              cpu: "50m"
          ports:
            - containerPort: 80
          env:
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: db_password
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: db_user
            - name: POSTGRES_HOST
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: db_host
            - name: POSTGRES_DATABASE
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: db_name
            - name: INSTANCE_NAMESPACE
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: instance_namespace
            - name: IMAGE_REGISTRY_PREFIX
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: image_registry_prefix
            - name: INSTANCE_HOSTNAME
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: instance_hostname
            - name: CONCURRENT_INSTANCES
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: concurrent_instances
            - name: DISCORD_FRONTEND
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: discord_frontend
            - name: WARGAME_NAME
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: wargame_name
            - name: APP_PORT
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: app_port
            - name: KUBECONFIG_FILE_PATH
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: kubeconfig_file_path
            - name: CPU_LIMIT
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: cpu_limit
            - name: CPU_REQUEST
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: cpu_request
            - name: MEMORY_LIMIT
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: memory_limit
            - name: MEMORY_REQUEST
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: memory_request
            - name: TERMINATION_PERIOD
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: termination_period
            - name: PUBLIC_URL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: public_url
            - name: EMAIL_ID
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: email_id
            - name: EMAIL_AUTH
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: email_auth
            - name: INSTANCE_NAME_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: instance_name_secret
            - name: SESSION_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: session_secret
            - name: TOKEN_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: token_secret
---
apiVersion: v1
kind: Service
metadata:
  name: goapi-svc
  labels:
    app: goapi-svc
spec:
  ports:
    - port: 80
  selector:
    app: goapi
